@CHARSET "UTF-8";

body{
	margin:0;
	background-color:#dddfe0;
}

#top{
	margin-left:10%;
	height:80px;
	width:90%;
	background-color:rgb(73, 89, 176);
}

#left{
	float:left;
	width:25%;
	height:400px;
}
#right{
	float:right;
	height:400px;
	width:400px;
}

