@CHARSET "UTF-8";

body{
	margin:0;
	background-color:#dddfe0;
}

#top{
	margin-left:10%;
	height:80px;
	width:90%;
	background-color:rgb(73, 89, 176);
}

#left{
	float:left;
	width:25%;
	height:400px;
}
#right{
	float:right;
	height:700px;
	width:75%;
	background-color:white;
}
#logout{
	float:right;
	margin-right:10px;
	margin-top:10px;
}
#user{
	float:right;
	margin-right:20px;
	margin-top:10px;
}
#search{
	position:absolute;
	width:40%;
	postion:
}
#search_box{
	height:30px;
	width:90%;
	
}